name: build
on:
    push:
        paths-ignore:
            - "**/README.md"

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:
jobs:
    unit-tests:
        name: CI Build
        runs-on: ubuntu-latest
        env:
            REACT_APP_ENV: staging
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2

            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: "12.x"

            - name: Installing Dependencies
              run: yarn install --frozen-lockfile --silent

            - name: Run jest tests
              run: yarn test

            - name: Run typescript tests
              run: npx tsc
